
#-----------------------------
# System files
#
.DS_Store
.profile
Thumbs.db

#-----------------------------
# Kate editor files
#
*.kate-swp
/.kateproject.build

#-----------------------------
# User-specific files
#
/template/abominable_*.json
/xtra/*.png
/xzip.sh
_*

