
#-----------------------------
# System and temporary files
#
*.kate-swp
.DS_Store
.profile
Thumbs.db

#-----------------------------
# User-specific files
#
/README-PERSONAL.MD
/NEXT-LEVEL/
/.kateproject.build
/template/abominable_*.json
/xtra/*.png
/xzip.sh

